# 🚫 Disable directory listing
Options -Indexes

# -----------------------------------
# 🔒 Protect sensitive files
# -----------------------------------
<Files wp-config.php>
    Order allow,deny
    Deny from all
</Files>

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files install.php>
    Order allow,deny
    Deny from all
</Files>

# -----------------------------------
# 🚫 Prevent image hotlinking
# -----------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Izinkan dari domain sendiri
    RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?comintel-tp\.com/ [NC]
    RewriteCond %{HTTP_REFERER} !^$
    
    # Arahkan permintaan hotlink ke gambar peringatan
    RewriteRule \.(jpe?g|gif|bmp|png|webp)$ /wp-content/themes/comintel-business/assets/images/stealingisbad.png [L]
</IfModule>

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>