:root {
  --brand-primary: #003285;
  --brand-secondary: #FFDA78;
  --brand-ternary: #2A629A;
  --brand-accent1: #EEF1F7;
  --brand-accent2: #B8C4D7;
  --brand-white: #FFF;
  --brand-black: #1B1B1B;
  --gap-size: 1.5rem;
  --section-padding: 4rem;
}