.contact {
  padding: 1em;
  &.contact-info {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: var(--brand-primary);
    color: white;
    ul {
      list-style: none;
      flex: 1;
      li {
        display: flex;
        padding-block: 1em;
        border-bottom: 1px dashed white;
        align-items: center;
        div:first-child {
          margin-right: 1.5em;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}