@keyframes grid-div-effect-scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.grid-image__container {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr 10px 1fr;
  height: 400px;

  >.grid-image__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: span 3;
  }

  >.grid-image__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  >.grid-image__item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  >.grid-image__item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  >.grid-image__divider {
    grid-column: 2 / 3;
    grid-row: span 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-play-about__link-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      border: none;
      z-index: 1;
    }

    // &::after {
    //   position: absolute;
    //   content: '';
    //   display: block;
    //   width: 50px;
    //   height: 50px;
    //   border-radius: 50%;
    //   z-index: 1;
    //   background-color: white;
    //   cursor: pointer;
    // }

    &::before {
      font-family: 'FontAwesome';
      position: absolute;
      content: '\f04b';
      display: block;
      width: 25px;
      z-index: 2;
      height: 25px;
      font-size: 20px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-25%, -60%);
      color: var(--brand-primary);
      cursor: pointer;
      pointer-events: none;
    }

    >.grid-image__divider-effect {
      width: 50px;
      height: 50px;
      background-color: var(--brand-secondary);
      position: absolute;
      z-index: 0;
      border-radius: 100%;
      transform: scale(1);
      transform-origin: center;
      will-change: transform, opacity;
      animation: grid-div-effect-scale 1.5s ease-in-out infinite;
    }
  }
}

// Tablet Portrait
@media (min-width: 768px) and (orientation: portrait) {
  .grid-image__container {
    height: 500px;
  }
}

// Desktop
@media (min-width: 992px) {
  .grid-image__container {
    height: 550px;
  }
}